h1 {
    color:blue
}
.navlinks {
display: inline-block;
padding:0px 20px;
}
.navlinks li a:hover{
color:pink;
}
.fruits li {
    display: inline block;
    color:rgb(30, 56, 173);
}
img {
    display: inline;
}


    